
// Variables--------------------------------------------------------------------
$primary-color: #5A1AAB;
$secondary-color: white;
$default-color: #d5dfe0;
$white-color: white;
$danger-color: #e74a25;